:root {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
	--main-a: #eef7ff;
	--main-b: #81e7d9;
	--main-c: #41ac9d;
	--main-d: #808080;
	--main-e: #d7f6ff;
	--main-e-rgb:  215, 246, 255;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.customCarousel {
    height: 40vh;
}

.carousel-inner {
	height: 100%;
}

.carousel-item {
	height: 100%;
}

.carousel-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.service-card {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (min-width: 576px) {
	.customCarousel {
		height: 50vh;
	}
	
}
@media (min-width: 992px) {
	.customCarousel {
		height: 75vh;
	}
	
}